.content{
    /* background: linear-gradient(13deg, rgba(255,255,255,1) 36%, rgba(255,199,199,1) 96%); */
    background: linear-gradient(238.23deg, #EEC9C9 0.81%, rgba(217, 217, 217, 0) 69.12%);
    height: 100vh;
}

.fontss{
    font-family: 'Poppins', sans-serif;;
}